CompileFlags:
  Add:
    - "-target"
    - "riscv64-unknown-elf"
    - "-march=rv64g"
    - "-mabi=lp64d"
    - "-ffreestanding"
    - "-nostdlib"
    - "-Ikernel"
    - "-Iuser"
    - "-I."
    # 改为直接引入 types.h，配合 -Ikernel 路径更不容易出错
    - "-include"
    - "types.h"

Diagnostics:
  Suppress:
    - "unused-parameter"
    - "unused-variable"